

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, khaki, darkgreen);
}

.roll-button{
  display: flex;
  justify-content: center;
  background-color: sienna;
  border: black 4px solid;
  border-radius: 10px;
  width: 13vw;
  height: 4vw;
  color:wheat;
  text-align: center;
  align-items: center;
  font-size: 1.5vw;
}
.game-title{
  font-size: 3vw;
}